html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}



#head-wrapper {
    /* display: none; */
    /* background-image: linear-gradient(rgb(0, 255, 221), rgb(250, 250, 250)); */
}

#header-block {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: center;
	color: #fff;
    background: linear-gradient(-45deg, rgb(115, 221, 15), rgb(173, 166, 67), rgb(24, 126, 163), rgb(61, 231, 9));
    /* background: linear-gradient(-45deg, #8fe61e, #e4d555, #3097b6, #0e6159); */
    font-weight: 500 !important;
	background-size: 400% 400%;
	-webkit-animation: bg-color-transition 15s ease infinite;
	-moz-animation: bg-color-transition 15s ease infinite;
	animation: bg-color-transition 15s ease infinite;
}


@-webkit-keyframes bg-color-transition {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes bg-color-transition {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes bg-color-transition {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



@keyframes cursor_blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cursor {
    animation-name: cursor_blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

img {
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

::-webkit-scrollbar {
    width: 9px;
    background-color: #212121;
}


/* Track */

  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(60, 179, 216); 
    border-radius: 10px;
  }

/* #main-heading {
    font-family: Arial, Helvetica, sans-serif;
} */

#my-works-navigator {
    /* position: absolute; */
    margin-top: 10px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: transparent;
    height: 45px;
    padding-left: 28px;
    padding-right: 28px;
    transition: 0.2s;
    /* width: auto;
    animation-name: showcase-button-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}

#my-works-arrow {
    margin-left: 10px;
    transition: 0.2s;
}

#my-works-navigator:hover #my-works-arrow {
    transform: rotate(90deg);
}


#circle-profile {
    /* margin-right: 100px;  */
    margin-right: 70px;
}

#circle-contact {
    /* margin-left: 100px;  */
    margin-left: 70px;
}

.circle-link {
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 70px;
    height: 70px;
    /* border-style: solid;
    border-width: 1px;
    border-color: white; */
    /* background-color: rgba(255, 255, 255, 0.082); */
    background-color: transparent;
    /* border-radius: 40px; */
    position: absolute;
    bottom: 20%;
    overflow: hidden;
    transition: 0.3s ease;
}

.circle-link:hover {
    transform: scale(0.9);
}

/* @keyframes link-animation-head {
    0% {
        margin-top: 0;
    }
    55% {
        margin-top: 100px;
    }
    56% {
        margin-top: -100px;
    }
    100% {
        margin-top: 0;
    }

} */

@media (max-width: 800px) {
    #header-block {
        padding: 20px;
    }

    #main-heading {
        margin-top: -150px;
    }
}