#block-three {
    /* display: none; */
    top: 100%;
    width: 100%;
    height: 100vh;

    position: absolute;
    background-color: rgb(238, 238, 238);
    padding-top: 30px;
    padding-bottom: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#about-header{
    /* font-weight: bold; */
    display: grid;
    justify-items: center;
}

#about-header-wrapper {
    display: none;
    justify-items: center;
}

#about-body-wrapper {
    display: none;

    margin-top: 10px;
}

#underline-about {
    margin-top: -10px;
    height: 6px;
    width: 60px;
    margin-bottom: 20px;
    margin-left: -1500px;
    animation-name: underline-animation;
    animation-duration: 0.8s;
    /* transition: 0.2s; */
    animation-fill-mode: forwards;
}

@keyframes underline-animation {
    from {
        margin-left: -1500
    }

    to {
        margin-left: 0;
    }
}

.hex-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    /* height: 240px; */
}

.hexagon {
    overflow:hidden;
    width: 180px;
    height: 140px;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -webkit-shape-outside: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);   
    shape-outside: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    opacity: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    transform-style: preserve-3d;
    transform: rotatey(180deg);
    animation-name: hexagon-animation;
    animation-duration: 0.8s;
    /* transition: 0.2s; */
    animation-fill-mode: forwards;
}

#instinctive-hexagon {
    animation-delay: 0s;
}
#persistent-hexagon {
    animation-delay: 0.2s;
}
#eye-hexagon {
    animation-delay: 0.4s;
}
#flexible-hexagon {
    animation-delay: 0.6s;
}
#spartan-hexagon {
    animation-delay: 0.8s;
}
#fast-hexagon {
    animation-delay: 1s;
}

@keyframes hexagon-animation {
    from {
        opacity: 0;
        transform: rotatey(180deg);
    }
    to {
        opacity: 1;
        transform: rotatey(0deg);
    }
}


.about-logo {
    width: 80px;
    height: 80px;
    user-select: none;
}

.about-p {
    margin-top: 0;
}

/* @keyframes about-p-animation {
    from {
        margin-right: -1500px;
    }
    to {
        margin-right: 0;
    }
}

#about-above-row  {
    margin-right: -1500px;
    animation-name: about-p-animation;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
} */


@media (max-width: 800px) {
    
    #block-three {
        top: 200%;
        /* height: auto; */
        padding-top: 20px;
    }
    #about-body-wrapper {
        margin-top: -10px;
    }
   

    .hex-container {
        width: 100%;
    }

    .hex-container {
        margin-top: 40px;
    }
    
}
