#block-three {
    top: 100%;
    width: 100%;
    height: auto;

    position: absolute;
    background-color: rgb(238, 238, 238);
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#about-header {
    /* margin-top: 40px; */
    /* font-weight: bold; */
    display: grid;
    justify-items: center;
}

#underline-about {
    margin-top: -10px;
    height: 6px;
    width: 60px;
    margin-bottom: 20px;
}

.hex-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
}

.hexagon {
    overflow:hidden;
    width: 180px;
    height: 140px;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -webkit-shape-outside: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);   
    shape-outside: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    display: grid;
    align-items: center;
    justify-items: center;
}

.about-logo {
    width: 80px;
    height: 80px;
}

.about-p {
    margin-top: 0;
}


@media (max-width: 800px) {
    
    #block-three {
        top: 200%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #about-header {
        /* margin-top: 20px; */
    }

    .hex-container {
        width: 100%;
    }

    .hex-container {
        margin-top: 40px;
    }
    
}
